.delete-button, .current-item, .completed-item {
    display: inline-block;
    margin-right: 5px;
}

.completed-item {
    font-family: monospace, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color: firebrick;
}

