body {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
  }
.title {
    margin: 0px;
    background: transparent;
    font-family: cursive;
    font-size: 50px;
    color:white;
}
#to-do {
    border: 4px solid white;
    
    border-radius: 10px ;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 60%;
  padding: 0px;
}

::placeholder {
    color : white;
    opacity: 1;
}

#textbox {
    font-size: 25px;
    color: white;
    
 background-color:transparent;
 border-top-style: hidden;
 border-right-style: hidden;
 border-left-style: hidden;
 border-bottom-style: inset;
 border-color: honeydew;
 outline: none;
 
}

#add-button {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: greenyellow;
    background-color: transparent;
    border: none;
    outline: none;

}

.delete-button {
    font-size: 25px;
    font-weight: bolder;
    color: red;
    background: inherit;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
}

.x::after {
    padding-left: 10px;
    content: '\274C';
    color: red;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

#current-items  {
    width: 100%;
    text-align: right;
    padding: 10px;
}
#current-list-item {
    display: flex;
    margin: auto;
}


div.current-list-item {

    display: flex;
    justify-content: center;    
    
}

.current-list-item {
    display: flex;
    justify-content: right;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 15px;
}
.current-list-item > li {
    margin: 1px;
    font-weight: bold;
    font-size: 20px;
}

.current-list-item > button {
    margin-left: 5px;
    display: none;
}

.completed-item {
    display: flex;
    justify-content: flex-start;

}

.completed-item > li {
    font-family: monospace, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color: firebrick;
    margin: 0px;
   
}

.done {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-decoration: line-through;
    text-decoration-color: firebrick;
    margin: 0px;
   
}

.completed-item > button {
    margin-left: 10px;
}





